 <div class="panel panel-default panel-transparent">
		    <div class="panel-body" >

                <h1 style="position:relative;left:180px;top:10px;">User Login</h1>

                <div style="position:relative;left:40px;top:70px;">
                    <div class="input-group" id="details"  >
                        <span class="input-group-addon" id="txtusername" style="width:58px;">UserName</span>
                         <input type="text" class="form-control" style="width:350px;" aria-describedby="sizing-addon2" name="name">
                    </div>
            <br/><br/>
                    <div class="input-group" id="details" >
                         <span class="input-group-addon" id="txtpassword" style="width:60px;">Password</span>
                         <input type="text" class="form-control" style="width:350px;" aria-describedby="sizing-addon2" name="name">
                    </div>
            <br/><br/>
                    <span style="position:relative;left:20px;top:15px;" >
                         <input class="btn btn-success" style="width:120px;height:50px;" id="signup" type="submit" value="SignUp">
                    </span>
                    <span style="position:relative;left:170px;top:15px;">
                         <input class="btn btn-success" style="width:120px;height:50px;" id="login" type="submit" value="Login">
                    </span>
                </div>
            </div>
        </div>
