
<body>
    <menubar></menubar>

<div id="mySidenav" class="sidenav">
    <a id="btn" (click)="cntrlSideNav()"><span class={{icon}} aria-hidden="true"></span></a>
  <a id="list1" href="#"><span class="glyphicon glyphicon-home" aria-hidden="true">{{vlist1}}</span></a>
  <a id="list2" href="#"><span class="glyphicon glyphicon-th" aria-hidden="true">{{vlist2}}</span> </a>
  <a id="list3" href="#"><span class="glyphicon glyphicon-search" aria-hidden="true">{{vlist3}}</span></a>
  <a id="list4" href="#"><span class="glyphicon glyphicon-user" aria-hidden="true">{{vlist4}}</span></a>
</div>
<div id="main">
    
    <content> </content>
   
    
    
</div>

     

     
</body>

